body { 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

.main {
  padding: 50px;
  /* display: flex;
  flex-direction: column;
  height: calc(100vh- 56px); */
}



.footer {
  background-color: lightgrey;
}

.text-center{
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#img-render {
  width: 500px;
  height: 50%;
  margin: 20px 0;
}

.style-image {
  width: 500px;
  height: 50%;
  margin: 20px 0;
}

.modal-w {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  padding: 30px;
  border: 1px grey solid;
  border-radius: 5px;
  margin: 0 auto;
  display: none;
}

.modal-w img {
  width: 100%;
}

